:root {
    --toolbar-height: 70px;
}

.root {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    /* border: 1px solid red; */
}

.main {
    /* border: 1px solid blue; */
}

.search-section-container {
    /* border: 1px solid green; */
}

#prompt-filter-overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#prompt-filter-overlay.active {
    opacity: 1;
    pointer-events: all;
}