body {
    /* Removes the spaces on the side of the page */
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

/* The * selector selects all elements */
*, *::before, *::after {
    /* Makes the box-sizing of all elements border-box. Box size comprise of content, border, and padding */
    box-sizing: border-box;
}

.toolbar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    
    /* gap: 1rem; */
    flex-wrap: nowrap; /* Prevents the toolbar from expanding to more rows */
    max-height: 70px;
    min-width: 500px;
    border-bottom: 1px solid #7d7a7c;
}

.toolbar-logo {
    /* border: 1px solid green; */
    height: 70px;
    margin-left: 10px;
    position: relative;
}

.toolbar-logo img{
    /* border:1px solid black; */
    height: 100px;
    width: auto;
    position: absolute;
    transform: translateY(-16%);
}

.toolbar-items {
    /* border: 1px solid blue; */
    margin-left: auto;
    display: flex;
    align-items: center; /* Vertically center the items */
    
}

.toolbar-items a {
    /* border: 1px solid black; */
    display: inline-block;
    margin-right: 0.8rem;
    
    padding: 23px 10px;
    /* text-align: center; */
    font-size: 1.2rem;
    text-decoration: none;
    height: 100%;
    color: #4d4b4c;

    position: relative;
}

.toolbar-items a i {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 0.6em; /* Adjust the size of the icon */
    /* display: none; */
    color: white;
    transition: all 0.6s ease-in-out; /* Add transition for smooth hover out */
}

@keyframes down-arrow-hover {
    from {
        top: 70%;
    }
    to {
        top: 80%;
    }
}

.toolbar-items a:hover {
    background: #ede8eb;
    color: black;
    z-index: 10;
}

.toolbar-items a:hover i {
    /* animation-name: down-arrow-hover;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; */
    /* display: inline; */
    color: #eb8b0e;
    top: 80%;
}

.toolbar-items a span {
    transition: transform 0.6s ease;
    display: inline-block;
}

.toolbar-items a:hover span {
    transform: scale(1.01, 1.01);
    
    /* transition: transform 0.6s ease; */
}

.toolbar-items a:last-child {
    margin-right: 0;
}

